<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta charset="UTF-8">
    <title>Bartinder</title>
    <script src="https://use.fontawesome.com/6c7cf6fe39.js"></script>
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url";
      UPLOADCARE_PUBLIC_KEY = "d3927a2c5ecb87f43205";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='keyframes.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<!-- heading -->
    <div class="header container-fluid text-center padding-topL60px">
        <h1 class="">
        <a href="/"><i class="header-text icon hvr-bob"><img width="200vmax" src="{{url_for('static',filename='icon.png')}}"></i>
        </a>
    </h1>
<!-- search -->
        <div class="form-group">
            <input class="form-control search" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"></input>
        </div>
<!-- NAV -->
        <div class="row nav-bar">
            <div class="col text-left"><i class="fa fa-star" aria-hidden="true"></i></div>

<!-- PLUS -->
        <div class="col">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <!-- ICON -->
                    <i class="fa fa-4 fa-plus-circle" aria-hidden="true"></i>
                  <!---->
                </a>
            </div>
                <!-- CONTENT -->
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <!-- FORM -->
                <div>
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('drinks.new', id=current_user.id)}}"><button style="font-size:3rem;" class="btn newdrink-btn hvr-sink btn-danger">New Drink?</button></a>
                {% else %}
                    <h5>Lets make sure youre a human first. 
                        <br>
                        <h6><i>Or atleast a robot with good taste.</i></h6>
                    </h5>
                    <a href="{{url_for('users.signup')}}"><button class="btn signup hvr-sink newdrink-btn">Sign Up</button></a> <a href="{{url_for('users.login')}}"><button class="btn signup newdrink-btn">Login</button></a>
                {% endif %}
                </div>
            </div>
          </div>
        </div>
        </div>
<!-- END PLUS -->

<!-- DROPDOWN -->
        <div class="col text-right">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="" role="tab" id="headingTwo">
                  <!-- ICON -->
                  {% if current_user.is_authenticated %}
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <div><img class=" avatar rounded-circle text-center hvr-buzz-out" src="{{current_user.avatar}}" width="70" height="70" class="d-inline-block align-top"></div>
                  <!---->
                </a>
            </div>
                <!-- CONTENT -->
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <!-- STUFF -->
                <h2 class="text-white">
                    <a class="dropdown-item hvr-sink" href="{{url_for('users.edit', id=current_user.id)}}">Settings</a>
                    <a class="dropdown-item hvr-sink" href="{{url_for('users.logout')}}">Logout</a> 
                  {% else %}
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <div><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                  <!---->
                </a>
            </div>
                <!-- CONTENT -->
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <!-- STUFF -->
                <h2 class="text-white">
                    <a href="{{url_for('users.login')}}"><button class="btn signup hvr-sink newdrink-btn">Login</button></a>
                  {% endif%}
                </h2>
                </div>
            </div>
          </div>
        </div>
        </div>
<!-- END DROPDOWN -->
        </div>
    </div>
<!-- /// BODY /// -->
    <div class="bod">
<!-- flash message -->        
        <center>{% for message in get_flashed_messages() %}
            <div class="alert alert-{{ message['status'] }}">{{ message['text'] }}</div> 
            {% endfor %}
        </center>
<!-- base start -->
        <div class="center container-flex text-center" style="padding:1rem; margin:1rem">
            {% block content %} 
            {% endblock %}
        </div>
    </div>
<!--/// FOOTER ///-->
    <br>
    <div class="footer text-center">
        <h1 id="footer">Bartindre Corp
        <small>
        <br>
        <br>
        <i>Connecting you with the drinks that matter most</i>
        <br>38 Super Real St
        <br>San Francisco CA 94103
        </small></h1>
    </div>
    <script src="/static/imageupload.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
