{% extends 'base.html' %}
{% block content %}
<div class="center text-center" style="padding:1rem;">
<form class=" text-center form-group" method="POST" action="{{url_for('users.login')}}">

  {{ form.csrf_token }}
  
  <p>
    {{ form.username(placeholder="username") }}
  </p>
  <p>
    {{ form.password(placeholder="password") }}
  </p>

<button class="btn hvr-sink newdrink-btn" type="submit">Log In!</button>
  <br>
    or
  <br>
<button class="btn hvr-sink newdrink-btn" href="{{url_for('users.signup')}}">Sign-Up</a>
</form>
</div>
{% endblock %}

