html {
  height: 100%;
}
body {
    background: url('header.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 0;
}
body > .container{
    padding-top:60px
}
h1.icon{
    margin-bottom: 1rem;
    animation:hvr-bob 1s infinite;
}
.bod {
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.5);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

/*HEADER*/
.fa{
    color:white;
}
a:hover, a:link{
	text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
}
.header {
    filter: blur(0px) contrast(100%);
    z-index: 1;
    padding-top: 10px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-bottom: 3px;
    font-size: 2rem;
}

.header-text {
    font-size: 7vmax;
    color: white;
    font-weight: bold;
}

i.header-text:hover {
    text-decoration: none;
}

.threedeep {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 5px 0 #b9b9b9, 0 7px 0 #aaa, 0 8px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0px 1rem 5rem black;
}

a.dropdown-item{
    color:white;
    background:none;

}
a.dropdown-item:hover{
    background:none;
    color:orange;
}
/*SEARCH*/

input.search::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input.search {
    font-size: 3vmax;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    touch-action: none;
    border: none;
    transition: all 0.5s;
}

input.search:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 6rem;
    transition: all 0.5s;
}


/*NAV*/

div.nav-bar {
    text-shadow: -3px 4px #000000;
    color: white;
    font-size: 3rem;
}
div.menu{
	text-shadow: none;
} 

.newdrink-btn{
    text-shadow: -1px 1px purple, -2px 2px purple, -3px 3px purple, -4px 4px purple, -5px 5px purple, -6px 6px purple, -7px 7px purple, -8px 8px purple, -9px 9px purple, -10px 10px purple, -11px 11px purple, -12px 12px purple;
    background: linear-gradient(135deg, rgba(255,136,50,1) 12%,rgba(117,0,89,1) 93%);
    padding: 5px 13px 0px 8px !important;
    font-size:3rem !important;
}   

/*CARD*/

a.butt {
    padding-top: 0;
    font-style: oblique;
    font-size: 3rem;
    text-shadow: 1px 7px 0px rgba(141, 141, 141, 0.32);
    box-shadow: 0px 10px 0px rbga(0, 0, 0, 0.5);
    box-shadow: inset 0px 6px 0 0px rgba(0, 0, 0, 0.09);
    margin-bottom: -2rem;
    background: rgba(101, 101, 101, 0.21);
    border: none;
    filter: contrast(100%);
}

a.btn.btn-success.si {
    padding-left: 1.5rem;
    padding-right: 1.7rem;
}

div.card {
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
    margin: 2rem;
    max-width: 320px;
    border: none;
    width: 320px;
}
.card-block{

}

.card-image {
    height: auto;
    max-width: 320px;
}

.card-title {
    text-shadow: -3px 4px #000000;
    color: white;
    font-size: 2vw;
    margin-top: -35px;
}

.glass::before {
    background-image: url('header.jpg');
    filter: blur(5px);
}

/* FOOTER */
h1#footer{
    font-size:2em;
    background: linear-gradient(135deg, rgba(255,136,50,1) 34%,rgba(117,0,89,1) 63%,rgba(117,0,89,1) 63%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    padding: 3rem;
    text-shadow:  3px -2px 0px #f7f7f9;
    margin-top: 2vh;
}
